{% extends 'base.html.twig' %}

{% block title %}Gestion des rendez-vous{% endblock %}

{% block body %}
<div class="container">
    <h1>Gestion des rendez-vous</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Créneau souhaité</th>
            <th>Motif</th>
            <th>Statut</th>
            <th>Docteur</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.date|date('d/m/Y H:i') }}</td>
                <td>{{ appointment.message }}</td>
                <td>
                    <div class="badge badge-{{ appointment.status.name|lower }}">
                        {{ appointment.status.value }}
                    </div>
                </td>
                <td>
                    {% if appointment.doctor %}
                        {{ appointment.doctor.fullName }}
                    {% else %}
                        {{ form(forms[appointment.id]) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
