{% extends 'base.html.twig' %}

{% block title %}Specialty{% endblock %}

{% block body %}
    <h1>Specialty</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialty.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ specialty.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_specialty_index') }}">back to list</a>

    <a href="{{ path('app_specialty_edit', {'id': specialty.id}) }}">edit</a>

    {{ include('specialty/_delete_form.html.twig') }}
{% endblock %}
